@import '@variables';

.body {
  height: 100vh;
  background: linear-gradient($color_primary, $color_primary_light);
}

.main {
  padding: 0 20px;
}

.timer_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.timer {
  font-size: 70px;
  color: #fff;
  margin-bottom: 30px;
}

.buttonWrapper {
  width: 200px;
}
