$color-primary: #0c4a6e;
$color-primary-light: #0c4a6eb3;
$color-secondary: #f43f5e;
$color-secondary-light: #f43f5eb3;
$color-text: #525252;
$color-gray: #a3a3a3;
$color-neutral: #fafafa;
$color-green: #16a34a;
$color-green-light: #bbf7d0;
$color-red: #dc2626;
$color-red-light: #fca5a5;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@mixin mq($size) {
  @media screen and (min-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}
